<br />

<div class="page-header">
    <h1>TodoList</h1>
    <a href="#/list/create" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus-sign"></span> Add List
    </a>
</div>

<img ng-show="viewLoading" src="./images/ajax-loader.gif" class="ajax-loader repeated-item"/>

<div class="panel panel-default repeated-item" ng-repeat="todoList in todoLists">
    <div class="panel-heading">
        {{ todoList.Name }}
        <button class="btn btn-default" ng-click="removeFromTodoList(todoList.Id)">Delete</button>
        <a href="#/list/edit/{{ todoList.Id }}" class="btn btn-default">Edit</a>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" ng-show="todoList.TodoItems">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Title</th>
                        <th>DueDate</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todoItem in todoList.TodoItems">
                        <td>{{ todoItem.State }}</td>
                        <td>{{ todoItem.Title }}</td>
                        <td>{{ todoItem.DueDate | date: 'medium'}}</td>
                        <td><a href="#/item/edit/{{ todoItem.Id }}" class="btn btn-default">Edit</a></td>
                        <td><button class="btn btn-default" ng-click="removeItemFromTodoList(todoItem.Id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="#/item/create" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Item
        </a>
    </div>
</div>
