<br />

<div class="page-header">
    <h1>TodoList</h1>
    <a href="#/list/create" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus-sign"></span> Add List
    </a>
</div>

<img ng-show="viewLoading" src="./images/ajax-loader.gif" class="ajax-loader repeated-item"/>

<div class="panel panel-default repeated-item" ng-repeat="todoList in todoLists">
    <div class="panel-heading">
        {{ todoList.Name }}
        <button class="btn btn-default" ng-click="removeFromTodoList(todoList.Id)">Delete</button>
        <a href="#/list/edit/{{ todoList.Id }}" class="btn btn-default">Edit</a>
    </div>
    <div class="panel-body">
        <ul class="list-group" ng-repeat="todoItem in todoList.TodoItems">
            <li class="list-group-item">{{ todoItem.Title }}</li>
        </ul>

        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Item
        </button>
    </div>
</div>
